In [246]:
import pandas as pd

In [247]:
tmp = "/home/pedro/Desktop/VI/VI_Project/lab4/csv/ethnicityWinnerVsNominee.csv"
data = pd.read_csv(tmp)

In [248]:
dataframe = pd.DataFrame(data)

In [249]:
new_dict = { "year": [] , "race_ethnicity": [], "milestone": [], "count":[]}

In [250]:
dataframe.head()

,Year,Winner,count_white,count_black,count_asian,count_hispa,count_arab,count_indig
0,1928,0,6,0,0,0,0,0
1,1928,1,4,0,0,0,0,0
2,1929,0,13,0,0,0,0,0
3,1929,1,3,0,0,0,0,0
4,1930,0,15,0,0,0,0,0

In [251]:
dataframe = dataframe.groupby("Year").sum()

In [252]:
import numpy as np

arr = []

x = 1928

while x <= 2015:
    arr.append(x)
    x+=1
arr = np.array(arr)

dataframe["Year"] = arr

In [253]:
dataframe.head(20)

,Winner,count_white,count_black,count_asian,count_hispa,count_arab,count_indig,Year
Year,,,,,,,,
1928,1,10,0,0,0,0,0,1928
1929,1,16,0,0,0,0,0,1929
1930,1,18,0,0,0,0,0,1930
1931,1,15,0,0,0,0,0,1931
1932,1,9,0,0,0,0,0,1932
1933,1,9,0,0,0,0,0,1933
1934,1,10,0,0,0,0,0,1934
1935,1,14,0,1,0,0,0,1935
1936,1,25,0,0,0,0,0,1936
1937,1,25,0,0,0,0,0,1937
1938,1,25,0,0,0,0,0,1938
1939,1,24,1,0,0,0,0,1939
1940,1,25,0,0,0,0,0,1940
1941,1,25,0,0,0,0,0,1941
1942,1,25,0,0,0,0,0,1942
1943,1,25,0,0,0,0,0,1943
1944,1,25,0,0,0,0,0,1944
1945,1,25,0,0,0,0,0,1945
1946,1,25,0,0,0,0,0,1946
1947,1,25,0,0,0,0,0,1947

In [254]:
for index,row in dataframe.iterrows():
    if str(row["count_white"]) != str(0):
        new_dict["year"].append(row["Year"])
        new_dict["race_ethnicity"].append("white")
        new_dict["count"].append(row["count_white"])
        
    if str(row["count_black"]) != str(0):
        new_dict["year"].append(row["Year"])
        new_dict["race_ethnicity"].append("black")
        new_dict["count"].append(row["count_black"])
   
    if str(row["count_asian"]) != str(0):
        new_dict["year"].append(row["Year"])
        new_dict["race_ethnicity"].append("asian")
        new_dict["count"].append(row["count_asian"])
        
    if str(row["count_hispa"]) != str(0):
        new_dict["year"].append(row["Year"])
        new_dict["race_ethnicity"].append("hispan")
        new_dict["count"].append(row["count_hispa"])
        
    if str(row["count_arab"]) != str(0):
        new_dict["year"].append(row["Year"])
        new_dict["race_ethnicity"].append("arab")
        new_dict["count"].append(row["count_arab"])
        
    if str(row["count_indig"]) != str(0):
        new_dict["year"].append(row["Year"])
        new_dict["race_ethnicity"].append("indig")
        new_dict["count"].append(row["count_indig"])
        
        
        
    new_dict["milestone"] = ""

In [255]:
print(new_dict)

{'year': [1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1935, 1936, 1937, 1938, 1939, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1948, 1949, 1949, 1950, 1950, 1951, 1952, 1952, 1953, 1954, 1954, 1954, 1955, 1956, 1956, 1957, 1957, 1957, 1958, 1958, 1959, 1959, 1960, 1961, 1961, 1962, 1962, 1963, 1963, 1964, 1964, 1965, 1965, 1966, 1966, 1966, 1967, 1967, 1968, 1969, 1969, 1970, 1970, 1970, 1971, 1972, 1972, 1973, 1974, 1974, 1975, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1981, 1982, 1982, 1982, 1983, 1983, 1984, 1984, 1984, 1985, 1985, 1985, 1985, 1986, 1986, 1987, 1987, 1987, 1988, 1988, 1989, 1989, 1989, 1990, 1990, 1990, 1991, 1991, 1991, 1992, 1992, 1993, 1993, 1993, 1994, 1994, 1994, 1995, 1996, 1996, 1997, 1997, 1998, 1998, 1999, 1999, 1999, 2000, 2000, 2001, 2001, 2001, 2002, 2002, 2002, 2003, 2003, 2003, 2003, 2003, 2004, 2004, 2004, 2005, 2005, 2005, 2006, 2006, 2006, 2006, 2007, 2007, 2008, 2008, 2009, 2009, 2010, 2011, 2011, 2011, 2012, 2012, 2012, 2013, 2013, 2014, 2015], 'race_ethnicity': ['white', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'asian', 'white', 'white', 'white', 'white', 'black', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'white', 'hispan', 'white', 'black', 'white', 'hispan', 'white', 'white', 'hispan', 'white', 'white', 'black', 'hispan', 'white', 'white', 'hispan', 'white', 'asian', 'hispan', 'white', 'black', 'white', 'black', 'white', 'white', 'hispan', 'white', 'arab', 'white', 'black', 'white', 'hispan', 'white', 'asian', 'white', 'asian', 'indig', 'white', 'black', 'white', 'white', 'black', 'white', 'black', 'indig', 'white', 'white', 'black', 'white', 'white', 'black', 'white', 'arab', 'white', 'white', 'white', 'white', 'white', 'white', 'black', 'white', 'black', 'asian', 'white', 'black', 'white', 'black', 'asian', 'white', 'black', 'asian', 'hispan', 'white', 'black', 'white', 'black', 'hispan', 'white', 'black', 'white', 'black', 'arab', 'white', 'black', 'hispan', 'white', 'black', 'asian', 'white', 'black', 'white', 'black', 'hispan', 'white', 'black', 'asian', 'white', 'white', 'black', 'white', 'arab', 'white', 'hispan', 'white', 'black', 'asian', 'white', 'asian', 'white', 'black', 'asian', 'white', 'black', 'hispan', 'white', 'black', 'asian', 'hispan', 'arab', 'white', 'black', 'hispan', 'white', 'black', 'asian', 'white', 'black', 'asian', 'hispan', 'white', 'black', 'white', 'black', 'white', 'black', 'white', 'white', 'black', 'hispan', 'white', 'black', 'asian', 'white', 'black', 'white', 'white'], 'milestone': '', 'count': [10, 16, 18, 15, 9, 9, 10, 14, 1, 25, 25, 25, 24, 1, 25, 25, 25, 25, 25, 25, 25, 25, 24, 1, 24, 1, 24, 1, 25, 23, 2, 25, 23, 1, 1, 25, 24, 1, 22, 2, 1, 24, 1, 24, 1, 25, 25, 1, 24, 1, 24, 1, 24, 1, 24, 1, 23, 1, 1, 23, 2, 25, 24, 1, 23, 1, 1, 25, 22, 3, 25, 24, 1, 24, 1, 25, 25, 26, 25, 25, 24, 1, 23, 1, 1, 24, 1, 22, 1, 2, 19, 3, 2, 1, 24, 1, 22, 2, 1, 24, 1, 22, 2, 1, 23, 1, 1, 23, 1, 1, 23, 2, 22, 2, 1, 22, 2, 1, 25, 23, 2, 24, 1, 24, 1, 22, 2, 1, 23, 2, 21, 3, 1, 23, 1, 1, 20, 1, 2, 1, 1, 19, 5, 1, 23, 1, 1, 18, 5, 1, 1, 24, 1, 23, 2, 21, 4, 25, 21, 3, 1, 22, 2, 1, 22, 3, 25, 25]}

In [256]:
new_df = pd.DataFrame(new_dict)

In [257]:
new_df.head(20)

    count milestone race_ethnicity  year
0      10                    white  1928
1      16                    white  1929
2      18                    white  1930
3      15                    white  1931
4       9                    white  1932
5       9                    white  1933
6      10                    white  1934
7      14                    white  1935
8       1                    asian  1935
9      25                    white  1936
10     25                    white  1937
11     25                    white  1938
12     24                    white  1939
13      1                    black  1939
14     25                    white  1940
15     25                    white  1941
16     25                    white  1942
17     25                    white  1943
18     25                    white  1944
19     25                    white  1945

In [275]:
new_df.to_csv(r'newEthnics.csv')

In [289]:
tmp = pd.read_csv("/home/pedro/Desktop/VI/VI_Project/lab4/csv/newEthnics.csv")
tmp = pd.DataFrame(tmp)

In [290]:
tmp.columns.values

array(['Unnamed: 0', 'count', 'milestone', 'race_ethnicity', 'year',
       'milestone.1', 'sentiment'], dtype=object)

In [291]:
new_dict = {  "year" : [], "count" : [], "milestone" : [], "race_ethnicity" : [] , "sentiment" : []}


for index,row in tmp.iterrows():
    print(row)
    if str(row["milestone"]) == str("NaN"):
        new_dict["milestone"].append(-1)
        new_dict["sentiment"].append(-1)
    else:
        new_dict["milestone"].append(row["milestone.1"])
        new_dict["sentiment"].append(row["sentiment"])
        
    new_dict["count"].append(row["count"])
    new_dict["race_ethnicity"].append(row["race_ethnicity"])
    new_dict["year"].append(row["year"])

Unnamed: 0            0
count                10
milestone           NaN
race_ethnicity    white
year               1928
milestone.1         NaN
sentiment           NaN
Name: 0, dtype: object
Unnamed: 0            1
count                16
milestone           NaN
race_ethnicity    white
year               1929
milestone.1         NaN
sentiment           NaN
Name: 1, dtype: object
Unnamed: 0            2
count                18
milestone           NaN
race_ethnicity    white
year               1930
milestone.1         NaN
sentiment           NaN
Name: 2, dtype: object
Unnamed: 0            3
count                15
milestone           NaN
race_ethnicity    white
year               1931
milestone.1         NaN
sentiment           NaN
Name: 3, dtype: object
Unnamed: 0            4
count                 9
milestone           NaN
race_ethnicity    white
year               1932
milestone.1         NaN
sentiment           NaN
Name: 4, dtype: object
Unnamed: 0            5
count                 9
milestone           NaN
race_ethnicity    white
year               1933
milestone.1         NaN
sentiment           NaN
Name: 5, dtype: object
Unnamed: 0            6
count                10
milestone           NaN
race_ethnicity    white
year               1934
milestone.1         NaN
sentiment           NaN
Name: 6, dtype: object
Unnamed: 0            7
count                14
milestone           NaN
race_ethnicity    white
year               1935
milestone.1         NaN
sentiment           NaN
Name: 7, dtype: object
Unnamed: 0            8
count                 1
milestone           NaN
race_ethnicity    asian
year               1935
milestone.1         NaN
sentiment           NaN
Name: 8, dtype: object
Unnamed: 0            9
count                25
milestone           NaN
race_ethnicity    white
year               1936
milestone.1         NaN
sentiment           NaN
Name: 9, dtype: object
Unnamed: 0           10
count                25
milestone           NaN
race_ethnicity    white
year               1937
milestone.1         NaN
sentiment           NaN
Name: 10, dtype: object
Unnamed: 0           11
count                25
milestone           NaN
race_ethnicity    white
year               1938
milestone.1         NaN
sentiment           NaN
Name: 11, dtype: object
Unnamed: 0           12
count                24
milestone           NaN
race_ethnicity    white
year               1939
milestone.1         NaN
sentiment           NaN
Name: 12, dtype: object
Unnamed: 0           13
count                 1
milestone           NaN
race_ethnicity    black
year               1939
milestone.1         NaN
sentiment           NaN
Name: 13, dtype: object
Unnamed: 0           14
count                25
milestone           NaN
race_ethnicity    white
year               1940
milestone.1         NaN
sentiment           NaN
Name: 14, dtype: object
Unnamed: 0                                                       15
count                                                            25
milestone                                                       NaN
race_ethnicity                                                white
year                                                           1941
milestone.1       African–Americans in WWII                     ...
sentiment                                                Acceptance
Name: 15, dtype: object
Unnamed: 0           16
count                25
milestone           NaN
race_ethnicity    white
year               1942
milestone.1         NaN
sentiment           NaN
Name: 16, dtype: object
Unnamed: 0           17
count                25
milestone           NaN
race_ethnicity    white
year               1943
milestone.1         NaN
sentiment           NaN
Name: 17, dtype: object
Unnamed: 0           18
count                25
milestone           NaN
race_ethnicity    white
year               1944
milestone.1         NaN
sentiment           NaN
Name: 18, dtype: object
Unnamed: 0           19
count                25
milestone           NaN
race_ethnicity    white
year               1945
milestone.1         NaN
sentiment           NaN
Name: 19, dtype: object
Unnamed: 0           20
count                25
milestone           NaN
race_ethnicity    white
year               1946
milestone.1         NaN
sentiment           NaN
Name: 20, dtype: object
Unnamed: 0                                                       21
count                                                            25
milestone                                                       NaN
race_ethnicity                                                white
year                                                           1947
milestone.1       Jackie Robinson                               ...
sentiment                                                Acceptance
Name: 21, dtype: object
Unnamed: 0           22
count                24
milestone           NaN
race_ethnicity    white
year               1948
milestone.1         NaN
sentiment           NaN
Name: 22, dtype: object
Unnamed: 0            23
count                  1
milestone            NaN
race_ethnicity    hispan
year                1948
milestone.1          NaN
sentiment            NaN
Name: 23, dtype: object
Unnamed: 0           24
count                24
milestone           NaN
race_ethnicity    white
year               1949
milestone.1         NaN
sentiment           NaN
Name: 24, dtype: object
Unnamed: 0           25
count                 1
milestone           NaN
race_ethnicity    black
year               1949
milestone.1         NaN
sentiment           NaN
Name: 25, dtype: object
Unnamed: 0           26
count                24
milestone           NaN
race_ethnicity    white
year               1950
milestone.1         NaN
sentiment           NaN
Name: 26, dtype: object
Unnamed: 0            27
count                  1
milestone            NaN
race_ethnicity    hispan
year                1950
milestone.1          NaN
sentiment            NaN
Name: 27, dtype: object
Unnamed: 0           28
count                25
milestone           NaN
race_ethnicity    white
year               1951
milestone.1         NaN
sentiment           NaN
Name: 28, dtype: object
Unnamed: 0           29
count                23
milestone           NaN
race_ethnicity    white
year               1952
milestone.1         NaN
sentiment           NaN
Name: 29, dtype: object
Unnamed: 0            30
count                  2
milestone            NaN
race_ethnicity    hispan
year                1952
milestone.1          NaN
sentiment            NaN
Name: 30, dtype: object
Unnamed: 0           31
count                25
milestone           NaN
race_ethnicity    white
year               1953
milestone.1         NaN
sentiment           NaN
Name: 31, dtype: object
Unnamed: 0                                               32
count                                                    23
milestone                                               NaN
race_ethnicity                                        white
year                                                   1954
milestone.1       Brown v. Board Of Education, May 17, 1954
sentiment                                        Acceptance
Name: 32, dtype: object
Unnamed: 0                                               33
count                                                     1
milestone                                               NaN
race_ethnicity                                        black
year                                                   1954
milestone.1       Brown v. Board Of Education, May 17, 1954
sentiment                                        Acceptance
Name: 33, dtype: object
Unnamed: 0                                               34
count                                                     1
milestone                                               NaN
race_ethnicity                                       hispan
year                                                   1954
milestone.1       Brown v. Board Of Education, May 17, 1954
sentiment                                        Acceptance
Name: 34, dtype: object
Unnamed: 0                                                       35
count                                                            25
milestone                                                       NaN
race_ethnicity                                                white
year                                                           1955
milestone.1       Emmett Till|Rosa Parks and the Montgomery Bus ...
sentiment                                           Protest|Protest
Name: 35, dtype: object
Unnamed: 0           36
count                24
milestone           NaN
race_ethnicity    white
year               1956
milestone.1         NaN
sentiment           NaN
Name: 36, dtype: object
Unnamed: 0            37
count                  1
milestone            NaN
race_ethnicity    hispan
year                1956
milestone.1          NaN
sentiment            NaN
Name: 37, dtype: object
Unnamed: 0                                                    38
count                                                         22
milestone                                                    NaN
race_ethnicity                                             white
year                                                        1957
milestone.1       Central High School integrated, September 1957
sentiment                                             Acceptance
Name: 38, dtype: object
Unnamed: 0                                                    39
count                                                          2
milestone                                                    NaN
race_ethnicity                                             asian
year                                                        1957
milestone.1       Central High School integrated, September 1957
sentiment                                             Acceptance
Name: 39, dtype: object
Unnamed: 0                                                    40
count                                                          1
milestone                                                    NaN
race_ethnicity                                            hispan
year                                                        1957
milestone.1       Central High School integrated, September 1957
sentiment                                             Acceptance
Name: 40, dtype: object
Unnamed: 0           41
count                24
milestone           NaN
race_ethnicity    white
year               1958
milestone.1         NaN
sentiment           NaN
Name: 41, dtype: object
Unnamed: 0           42
count                 1
milestone           NaN
race_ethnicity    black
year               1958
milestone.1         NaN
sentiment           NaN
Name: 42, dtype: object
Unnamed: 0           43
count                24
milestone           NaN
race_ethnicity    white
year               1959
milestone.1         NaN
sentiment           NaN
Name: 43, dtype: object
Unnamed: 0           44
count                 1
milestone           NaN
race_ethnicity    black
year               1959
milestone.1         NaN
sentiment           NaN
Name: 44, dtype: object
Unnamed: 0                                                45
count                                                     25
milestone                                                NaN
race_ethnicity                                         white
year                                                    1960
milestone.1       Sit–in movement and founding of SNCC, 1960
sentiment                                            Protest
Name: 45, dtype: object
Unnamed: 0                                      46
count                                           25
milestone                                      NaN
race_ethnicity                               white
year                                          1961
milestone.1       CORE and Freedom Rides, May 1961
sentiment                               Acceptance
Name: 46, dtype: object
Unnamed: 0                                      47
count                                            1
milestone                                      NaN
race_ethnicity                              hispan
year                                          1961
milestone.1       CORE and Freedom Rides, May 1961
sentiment                               Acceptance
Name: 47, dtype: object
Unnamed: 0                                             48
count                                                  24
milestone                                             NaN
race_ethnicity                                      white
year                                                 1962
milestone.1       Integration of Ole Miss, September 1962
sentiment                                      Acceptance
Name: 48, dtype: object
Unnamed: 0                                             49
count                                                   1
milestone                                             NaN
race_ethnicity                                       arab
year                                                 1962
milestone.1       Integration of Ole Miss, September 1962
sentiment                                      Acceptance
Name: 49, dtype: object
Unnamed: 0                                                       50
count                                                            24
milestone                                                       NaN
race_ethnicity                                                white
year                                                           1963
milestone.1       Birmingham church bombed, 1963|“I Have a Dream...
sentiment                                        Protest|Acceptance
Name: 50, dtype: object
Unnamed: 0                                                       51
count                                                             1
milestone                                                       NaN
race_ethnicity                                                black
year                                                           1963
milestone.1       Birmingham church bombed, 1963|“I Have a Dream...
sentiment                                        Protest|Acceptance
Name: 51, dtype: object
Unnamed: 0                                                       52
count                                                            24
milestone                                                       NaN
race_ethnicity                                                white
year                                                           1964
milestone.1       Civil Rights Act of 1964, July 1964|Freedom Su...
sentiment                                     Acceptance|Acceptance
Name: 52, dtype: object
Unnamed: 0                                                       53
count                                                             1
milestone                                                       NaN
race_ethnicity                                               hispan
year                                                           1964
milestone.1       Civil Rights Act of 1964, July 1964|Freedom Su...
sentiment                                     Acceptance|Acceptance
Name: 53, dtype: object
Unnamed: 0                                                       54
count                                                            24
milestone                                                       NaN
race_ethnicity                                                white
year                                                           1965
milestone.1       Selma to Montgomery march, March 1965|Malcolm ...
sentiment                                Protest|Protest|Acceptance
Name: 54, dtype: object
Unnamed: 0                                                       55
count                                                             1
milestone                                                       NaN
race_ethnicity                                                asian
year                                                           1965
milestone.1       Selma to Montgomery march, March 1965|Malcolm ...
sentiment                                Protest|Protest|Acceptance
Name: 55, dtype: object
Unnamed: 0           56
count                23
milestone           NaN
race_ethnicity    white
year               1966
milestone.1         NaN
sentiment           NaN
Name: 56, dtype: object
Unnamed: 0           57
count                 1
milestone           NaN
race_ethnicity    asian
year               1966
milestone.1         NaN
sentiment           NaN
Name: 57, dtype: object
Unnamed: 0           58
count                 1
milestone           NaN
race_ethnicity    indig
year               1966
milestone.1         NaN
sentiment           NaN
Name: 58, dtype: object
Unnamed: 0           59
count                23
milestone           NaN
race_ethnicity    white
year               1967
milestone.1         NaN
sentiment           NaN
Name: 59, dtype: object
Unnamed: 0           60
count                 2
milestone           NaN
race_ethnicity    black
year               1967
milestone.1         NaN
sentiment           NaN
Name: 60, dtype: object
Unnamed: 0                                                       61
count                                                            25
milestone                                                       NaN
race_ethnicity                                                white
year                                                           1968
milestone.1       Fair Housing Act, April 1968|MLK assassinated,...
sentiment                                        Acceptance|Protest
Name: 61, dtype: object
Unnamed: 0           62
count                24
milestone           NaN
race_ethnicity    white
year               1969
milestone.1         NaN
sentiment           NaN
Name: 62, dtype: object
Unnamed: 0           63
count                 1
milestone           NaN
race_ethnicity    black
year               1969
milestone.1         NaN
sentiment           NaN
Name: 63, dtype: object
Unnamed: 0           64
count                23
milestone           NaN
race_ethnicity    white
year               1970
milestone.1         NaN
sentiment           NaN
Name: 64, dtype: object
Unnamed: 0           65
count                 1
milestone           NaN
race_ethnicity    black
year               1970
milestone.1         NaN
sentiment           NaN
Name: 65, dtype: object
Unnamed: 0           66
count                 1
milestone           NaN
race_ethnicity    indig
year               1970
milestone.1         NaN
sentiment           NaN
Name: 66, dtype: object
Unnamed: 0           67
count                25
milestone           NaN
race_ethnicity    white
year               1971
milestone.1         NaN
sentiment           NaN
Name: 67, dtype: object
Unnamed: 0                                               68
count                                                    22
milestone                                               NaN
race_ethnicity                                        white
year                                                   1972
milestone.1       Shirley Chisholm runs for president, 1972
sentiment                                        Acceptance
Name: 68, dtype: object
Unnamed: 0                                               69
count                                                     3
milestone                                               NaN
race_ethnicity                                        black
year                                                   1972
milestone.1       Shirley Chisholm runs for president, 1972
sentiment                                        Acceptance
Name: 69, dtype: object
Unnamed: 0           70
count                25
milestone           NaN
race_ethnicity    white
year               1973
milestone.1         NaN
sentiment           NaN
Name: 70, dtype: object
Unnamed: 0           71

In [292]:
new_new_df = pd.DataFrame(new_dict)

In [293]:
new_new_df.head(20)

,count,milestone,race_ethnicity,sentiment,year
0,10,NaN,white,NaN,1928
1,16,NaN,white,NaN,1929
2,18,NaN,white,NaN,1930
3,15,NaN,white,NaN,1931
4,9,NaN,white,NaN,1932
5,9,NaN,white,NaN,1933
6,10,NaN,white,NaN,1934
7,14,NaN,white,NaN,1935
8,1,NaN,asian,NaN,1935
9,25,NaN,white,NaN,1936
10,25,NaN,white,NaN,1937
11,25,NaN,white,NaN,1938
12,24,NaN,white,NaN,1939
13,1,NaN,black,NaN,1939
14,25,NaN,white,NaN,1940
15,25,African–Americans in WWII ...,white,Acceptance,1941
16,25,NaN,white,NaN,1942
17,25,NaN,white,NaN,1943
18,25,NaN,white,NaN,1944
19,25,NaN,white,NaN,1945

In [294]:
new_new_df.to_csv(r'updatedEthnics.csv')